<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        <div style="color:red; margin-bottom:10px;">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<form method="POST" action="">
    {% csrf_token %}

    <input type="text"
           name="username"
           placeholder="Username">

    <input type="password"
           name="password"
           placeholder="Password">

    <button type="submit">
        Login
    </button>
</form>
    
</body>
</html>